body{
    background-image: linear-gradient(90deg, #da3287, #ffde5e);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
h1{
    margin: 0 auto;
    margin-bottom: 5%;
    color: rgb(119, 8, 86);
}
form{
    display: flex;
    flex-direction: column;
    border-color: rgb(119, 8, 86);
    border-style: groove;
    background-color: lightyellow;
    border-radius: 2%;
    margin: 8%;
    padding: 8%
}
table{
    background-color: rgb(236, 173, 212);
    color: rgb(185, 30, 190);
    border: solid;
    border-color: rgb(102, 18, 102);
    width: 100%;
    height: 80%;
}
::placeholder{
    color: lightslategray;
}
input{
    background-color: rgb(238, 144, 238);
    border-color: rgb(128, 0, 107);
    border-style: dotted;
    color: rgb(143, 19, 180);
}
.input{
    margin: 2%;
}
label{
    color: rgb(245, 92, 219);  
}
button{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(204, 146, 196);
    border-style: groove;
    border-color: rgb(122, 24, 126);
    border-radius: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(150, 133, 153);
}
.error{
    color: rgb(71, 11, 41);
    font-size: xx-small;
    margin: 0 auto;
    padding: 0;
}